<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="/stylesheets/bootstrap-4.0.0-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"></head>
  </head>
  <body>
      <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="#"><%= title %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </div>
      </nav>

    <div id="content">
      <div id="midiPad">

        <div id="menu" class="container">

          <div class="row" style="padding-top:10px;">

            <div class="col-2">
              <div class="onoffswitch" id="monoOrPoly">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
            <div class="col-2">
              <div style=" color:white; text-align:center;">Key</div>
              <div class="select-box">
                <select class="custom-select" id="keyInput">
                  <% if (notes.length) { %>
                      <% notes.forEach((note, i) => {%>
                          <option value="<%=i%>"><%= note %></option>
                        <% }) %>
                    <% } %>
                </select>
              </div>
            </div>

            <div class="col-2">
              <div style="color:white; text-align:center;">Octave</div>
              <div class="select-box">
                <select class="custom-select" id="octaveInput">
                  <% if (octaves.length) { %>
                      <% octaves.forEach((octave) => {%>
                        <%if(octave == def){%>
                          <option selected><%= octave %></option>
                        <% } else{%>
                          <option><%= octave %></option>
                          <% }%>
                        <% }) %>
                    <% } %>
                </select>
              </div>
            </div>

            <div class="col-4" id="synthSelection">
              <div style="color:white; text-align:center;">Synth</div>
              <div class="select-box">
                <select class="custom-select" id="synthInput">
                  <% if (synths.length) { %>
                      <% synths.forEach((synth) => {%>
                        <%if(synth == defaultSynth){%>
                          <option selected><%= synth %></option>
                        <% } else{%>
                          <option><%= synth %></option>
                          <% }%>
                        <% }) %>
                    <% } %>
                </select>
              </div>
            </div>

            <div class="col-2" id="Brand">
              <h2 class="padBrand">Wavy Pads</h2>  
            </div>

          </div>

        </div>

        <div id="knobs" class="container">

          <div class="row">

            <div class="knob col-3" id="knob1">
              <input type="range" class="input-knob" data-diameter="90" data-src="/images/knob70.png" data-sprites="100"/>
              <p>Decay</p>
            </div>

            <div class="knob col-3" id="knob2">
              <input type="range" class="input-knob" data-diameter="90" data-src="/images/knob70.png" data-sprites="100"/>
              <p>EQ</p>
            </div>

            <div class="knob col-3" id="knob3">
              <input type="range" class="input-knob" data-diameter="90" data-src="/images/knob70.png" data-sprites="100"/>
              <p>Reverb</p>
            </div>

            <div class="knob col-3" id="knob4">
              <input type="range" class="input-knob" data-diameter="90" data-src="/images/knob70.png" data-sprites="100"/>
              <p>Gain</p>
            </div>

          </div>

        </div>

        <div class="row" style="height:25px;"></div>

        <div id="pads" class="container">

          <div class="row">
            <div class="col-3">
              <div class="pad" id="pad1">
                <p class="keyMapping">w</p>
              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad2">
                <p class="keyMapping">e</p>
              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad3">
                <p class="keyMapping">r</p>
              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad4">
                <p class="keyMapping">t</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <div class="pad" id="pad5">
                <p class="keyMapping">s</p>
              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad6">
                <p class="keyMapping">d</p>
              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad7">
                <p class="keyMapping">f</p>
              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad8">
                <p class="keyMapping">g</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <span>Copyright 2020 - Genesis Barrios</span>
      </div>
    </footer>

    <script src="https://unpkg.com/tone@13.8.25/build/Tone.js"></script>
    <script src="/stylesheets/bootstrap-4.0.0-dist/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/javascripts/input-knobs.js"></script>
    <script src="/javascripts/pad.js"></script>
    
  </body>
</html>
